@font-face {
    font-family: "Raleway";
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

html {
    height: 100%;
}

body {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}

.page-header-logo {
    margin-top: -35px;
}

.login-button {
    margin-left: 37px;
}

.compare-cart {
    width: 180px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 170px;
    display: flex;
    width: 240px;
    justify-content: space-between;
}

.compare-link {
    margin-right: 18px;
}

.header-wrapper {
    background-color: #ffe17f;
    margin-top: 50px;
    min-height: 310px;
}
.header-wrapper-catalog {
    background-color: #ffe17f;
    margin-top: 50px;
    min-height: 186px;
}

.menu-wrapper {
    display: flex;
    width: 471px;
    justify-content: space-between;
    margin-left: 310px
}

.navigation-container {
    margin-left: 60px;
    margin-right: 60px;
}

.nav-wrapper-user {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
}

.catalog-button {
    width: 50px;
    margin-left: 7px;
}

.nav-main-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 45px;
    justify-content: space-between;
}

.best-product-container {
    display: flex;
    align-items: center;
    margin-top: -45px;
}

.slider-container {
    display: flex;
    align-items: center;
    margin-right: 40px;
    margin-top: -100px;
    padding-bottom: 20px;
}

.advantage-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 10px;
    max-width: 560px;
    width: 100%;
}

.pagination-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 51px;
}

.pagination-wrapper {
    display: flex;
}
.products-wrapper ul {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.services-item {
    padding-bottom: 45px;
}
.services {
    background-color: #f0f0f0;
    margin-top: 150px;
    min-height: 289px;
}
.services-main-container {
    display: flex;
    justify-content: flex-start;
}
.services-list-wrapper {
    display: flex;
    width: 280px;
    align-items: center;
    margin-top: -27px;
}

.services-description-wrapper {
    display: flex;
    flex-direction: column;
    width: 694px;
    margin-left: 116px;
    background-image: url("../images/delivery-man.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    margin-top: -30px;

}

.about-container {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.about-wrapper {
    margin-right: 108px;
    max-width: 520px;
    width: 100%;
}

.about-title {
    margin: 0;
    margin-top: 40px;
}

.about-description {
    margin: 0;
    margin-top: 48px;
    color: #444444;
}

.about-delivery-description {
    margin: 0;
    margin-top: 30px;
    color: #444444;
}

.about-delivery-description-list {
    margin: 0;
    margin-top: 30px;
    padding: 0;
    margin-left: 15px;
}

.about-delivery-description-item {
    padding-bottom: 19px;
    padding-left: 26px;
}

.contacts-title {
    margin: 0;
    margin-top: 47px;
}

.contacts-subtitle {
    display: block;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-top: 30px;
    color: #444444;
}

.contacts-wrapper {
    max-width: 532px;
    width: 100%;
}

.contacts-description {
    margin: 0;
    margin-top: 40px;
    color: #444444;
}

.contacts-main {
    font-family: 'Rubik';
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    margin-top: 15px;
    font-style: normal;
}

.contacts-schedule {
    list-style: none;
    margin: 0;
    margin-top: 15px;
    padding: 0;
    color: #444444;
}

.site-logo {
    margin-left: 50px;
    margin-top: 62px;
}

.footer-menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
}

.contacts-footer {
    display: flex;
    flex-wrap: wrap;
    max-width: 234px;
    width: 100%;
}

.footer-services-list {
    display: flex;
    max-width: 444px;
    width: 100%;
    justify-content: space-between;
    list-style: none;
}

.footer-social-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 64px;
}

.social-rectangle {
    visibility: hidden;
}

.footer-social-list {
    display: flex;
    max-width: 150px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.footer-social-item {
    padding-left: 15px;
    padding-right: 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.search-field {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 208px 10px 48px;
    width: 103px;
}

.subscribe-field {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    opacity: 0.5;
    border: transparent;
    width: 557px;
    padding: 15px 0 15px 16px;
}

.search-button {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding: 10px 56px;
}

.navigation-user {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    min-height: 40px;
    height: 100%;
    align-items: center;
    max-width: 625px;
    width: 100%;
}


.nav-menu {
    display: flex;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    list-style: none;
    margin: 0;
    margin-left: 276px;
    padding: 0;
    color: #000000;
    text-decoration: none;
    width: 471px;
    justify-content: space-between;
}

.nav-catalog-link {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #000000;
    text-decoration: none;
}

.slider-pagination {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 76px;
    justify-content: space-around;
}


.product-link,
.breadcrumbs-link,
.product-card-link,
.pagination-link,
.button {
    color: #000000;
    text-decoration: none;
}

.navigation-link {
    color: #000000;
    text-decoration: none;
}

.section {
    font-family: "Rubik";
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.form input {
    font-family: inherit;
}

.delivery {
    background-color: #ebebeb;
    background-size: 136px 164px;
}

.delivery-title {
    margin: 0;
}

.delivery-notice {
    background-color: #ebebeb;
    background-image: url("../images/delivery.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 125px 103px;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-top: 70px;
    padding-top: 40px;
    padding-bottom: 40px;

}

.newsletter {
    background-color: #ebebeb;
    min-height: 421px;
    margin-top: 70px;
}

.newsletter-title {
    margin: 0;
    margin-top: 64px;
}

.newsletter-description {
    margin: 0;
    margin-top: 74px;
    color: #444444;
}
.newsletter-description-wrapper {
    display: flex;
    align-items: center;
}
.subscribe-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 144px;
}

.footer-address {
    font-family: 'Rubik';
    font-size: 16px;
    line-height: 20px;
    color: #444444
}

.services-list {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    list-style: none;
}

.subscribe-button {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding: 18px 39px;
}

.page-footer {
    color: #ffffff;
    background-color: #444444;
    height: 321px;
}
.footer-services li {
    color: #ffffff;

}
.contacts-phone {
    font-family: 'Rubik';
    color: #000000;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
}

.contacts-phone-footer {
    font-family: 'Rubik';
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
}

.contacts-address-text {
    margin: 0;
}
.catalog-products {
    background-color: #f0f0f0;
    margin-top: 35px;
}
.catalog-wrapper {
    display: flex;

}

.catalog-right-wrapper {
    width: 1000px;
}

.sort-wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
}

.product-list {
    background-color: #ffffff;
}

.breadcrumbs,
.catalog-filter-item {
    font-family: 'Rubik';
    font-size: 16px;
    line-height: 19px;
}
.product-card-title {
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    margin: 0;
}
.button-more {
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}


.contacts-footer {
    font-family: 'Rubik';
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

.services-item-link {
    text-decoration: none;
    color: #f0f0f0;
}

.sort-title {
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 25px;
}
.main-filter-title {
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin: 0;
}

.pagination-show-more {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background-color: #ffffff;
    border: dotted;
    width: 760px;
    margin-left: 40px;
    margin-top: 62px;

}
.select-control {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}
.catalog-filter {
    display: grid;
    grid-template-rows: 69px 95px 220px 112px 40px;
    grid-template-columns: 254px;
    margin-top: 26px;
    padding-left: 60px;

}
.catalog-filter-group {
    border: none;
    padding: 0;
}
.catalog-filter-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.catalog-filter-title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    margin: 0;
    margin-top: 72px;
    padding: 0;
}

.product-card-price {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
}
h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}
ul.spec-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 49px;
}

.spec-range,
.spec-radius {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 30px;
}
.range-name {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-top: 12px;
}

.radius-name {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-top: 12px;
}


li.spec-item-range {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

li.spec-item-radius {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}


li.product-item {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    display: flex;
    flex-wrap: wrap;
    width: 160px;
}
.pagination-item {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #444444;
    opacity: 0.3;
}
.contacts-phone {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
}
.footer-services-list {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.button-more {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    width: 210px;
    padding: 0;
    margin: 0;
}
.more-about {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    display: block;
    margin-top: 40px;
    text-align: left;
}
.button-delivery {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffe17f;
    background-color: #000000;
    padding: 9px 120px 11px 20px;
}
.button-warranty {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    padding: 6px 20px;
}
.button-credit {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    padding: 6px 35px;
}
.contact-us {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    display: block;
    margin-top: 40px;
    text-align: start;
}
.about-delivery-description-item {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
}
.about-delivery-description-item:nth-child(3) {
    padding-bottom: 0;
}

.pagination-text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.products-catalog-wrapper {
    background-color: #ffffff;
    padding-top: 70px;
    max-width: 840px;
    width: 100%;
    margin: 0;

}
.products-list {
    display: grid;
    grid-template-columns: 360px 360px;
    gap: 40px;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.pagination-cat-wrapper ul {
    margin: 0;
    padding: 0;
    margin-top: 19px;
    list-style: none;
    display: flex;
    background-color: #ebebeb;
    justify-content: space-between;
}

.product-name {
    display: block;
    margin: 0;
    margin-top: 32px;
    padding: 0;
}
.description-content {
    margin: 0;
    margin-top: 34px;
    color: #444444;
}

.advantage-description {
    display: block;
    margin-top: 29px;
    margin-bottom: 0;
    color: #444444;
}
.advantage-title {
    margin: 0;
}

.inner-header-title {
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}
.breadcrumbs {
    display: flex;
    margin: 0;
    margin-top: 16px;
    width: 432px;
    list-style: none;
    justify-content: space-between;
    padding: 0;
}
.inner-header {
    margin-top: 35px;
    margin-left: 105px;
}
.select-control {
    border: none;
    background-color: #f0f0f0;
}
.slider-button {
    height: 60px;
    width: 20px;
}