@font-face {
    font-family: "Raleway";
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

html {
    height: 100%;
}

body {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    padding: 0;

}

.container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}

.page-header-logo {
    margin-left: 60px;
}

.login-button {
    margin-left: 27px;
    padding-right: 231px;

}

.compare-cart-wrapper {
    display: flex;
    width: 190px;
    justify-content: space-between;



}

.compare-link {
    margin-right: 18px;
}

.header-wrapper {
    background-color: #ffe17f;
    margin-top: 40px;
    min-height: 310px;
}

.menu-wrapper {
    display: flex;
    width: 471px;
    justify-content: space-between;
    margin-left: 310px
}

.nav-wrapper-user {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    align-items: center;
    margin-left: 60px;
    width: 1040px;
    margin-right: 60px;

}

.nav-main-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 45px;
    margin-left: 60px;
    margin-right: 60px;
    width: 1040px;
}

.best-product-container {
    display: flex;

}

.slider-container {
    display: flex;
}

.advantage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pagination-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 51px;
}

.pagination-wrapper {
    display: flex;
}

.products-wrapper ul {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.services-item {
    padding: 24px 19px 24px 0;
}

.services {
    background-color: #f0f0f0;
}

.services-main-container {
    display: flex;
    margin-top: 70px;
    justify-content: flex-start;


}

.services-list-wrapper {
    display: flex;
    width: 280px;
    align-items: center;
}

.services-description-wrapper {
    display: flex;
    flex-direction: column;
    width: 694px;
    margin-left: 116px;
    background-image: url("../images/delivery-man.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    justify-content: space-between;

}

.about-container {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.about-wrapper {
    margin-right: 108px;
    max-width: 520px;
    width: 100%;
}

.contacts-wrapper {
    margin-right: 163px;
    max-width: 532px;
    width: 100%;
}

.about-delivery-description-list {
    padding-left: 18px
}

.about-delivery-description-item {
    padding-top: 19px;
    padding-bottom: 19px;
}

.contacts-description {
    width: 496px;
    min-height: 60px;
    text-align: left;
}

.footer-menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contacts-footer {
    display: flex;
    flex-wrap: wrap;
    max-width: 234px;
    width: 100%;
}

.footer-services-list {
    display: flex;
    max-width: 444px;
    width: 100%;
    justify-content: space-between;
    list-style: none;
}

.footer-social-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.social-rectangle {
    visibility: hidden;
}

.footer-social-list {
    display: flex;
    max-width: 150px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.footer-social-item {
    padding-left: 15px;
    padding-right: 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.search-field {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 208px 10px 48px;
    width: 103px;
}

.subscribe-field {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    opacity: 0.5;
}

.search-button {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding: 10px 56px;
}


.navigation-user {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    width: 1040px;
    height: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation-main {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slider-pagination {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation-link,
.product-link,
.breadcrumbs-link,
.product-card-link,
.pagination-link,
.button {
    color: #000000;
    text-decoration: none;
}

.section {
    font-family: "Rubik";
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.form input {
    font-family: inherit;
}

.delivery {
    background-color: #ebebeb;
    background-size: 136px 164px;
}

.delivery-notice {
    background-color: #ebebeb;
    background-image: url("../images/delivery.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 125px 100px;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-top: 70px;
    padding-top: 40px;
    padding-bottom: 40px;

}

.newsletter {
    background-color: #ebebeb;
}

.newsletter-wrapper {
    margin-top: 70px;
}

.newsletter-description-wrapper {
    display: flex;
    align-items: center;
}

.subscribe-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 56px;
}

.footer-address {
    font-family: 'Rubik';
    font-size: 16px;
    line-height: 20px;
    color: #444444
}

.services-list,
.subscribe-button {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    list-style: none;

}

.page-footer,
.footer-services li {
    color: #ffffff;
    background-color: #444444;
}

.contacts-phone {
    font-family: 'Rubik';
    color: #000000;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
}

.contacts-phone-footer {
    font-family: 'Rubik';
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
}

.catalog-products {
    background-color: #f0f0f0;
}

.product-list {
    background-color: #ffffff;
}

.breadcrumbs,
.catalog-filter-item {
    font-family: 'Rubik';
    font-size: 16px;
    line-height: 19px;
}

.product-card-title {
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.button-more {
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.contacts-main {
    font-family: 'Rubik';
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}

.contacts-main {
    padding-top: 15px;
    width: 550px;
}

.contacts-footer {
    font-family: 'Rubik';
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

.services-item-link {
    text-decoration: none;
    color: #f0f0f0;
}

.filter-title,
.sort-title {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.pagination-show-more {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.select-control {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.catalog-filter-title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.product-card-price {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
}

h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

ul.spec-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 49px;
}

.spec-range,
.spec-radius {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 30px;
}

.range-name,
.radius-name {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

li.spec-item-range {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

li.spec-item-radius {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

li.product-item {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    display: flex;
    flex-wrap: wrap;
    width: 160px;
}

.pagination-item {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #444444;
    opacity: 0.3;
}

.contacts-phone {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
}

.footer-services-list {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.button-more,
.button-delivery,
.button-warranty,
.button-credit,
.more-about,
.contact-us {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.contact-us {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    display: block;
    margin-top: 40px;
    text-align: start;
}

.about-delivery-description-item {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.contacts-subtitle {
    display: block;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-top: 30px;
}

.pagination-text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.products-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.product-name {
    display: block;
    margin: 0;
    padding: 0;
}

.contacts-schedule {
    list-style: none;
    padding: 0;
}

.description-content {
    margin: 0;
}

.advantage-description {
    display: block;
    margin-top: 29px;
    margin-bottom: 0;
}

.advantage-title {
    margin-bottom: 0;
}