@font-face {
    font-family: "Raleway";
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #242424;
}

.search-field,
.subscribe-field {
    font-family: inherit;
}

.search-button {
    font-family: inherit;
}

.main-header {
    background-color: #ffe17f;
    margin: 40px 140px 0 140px
}

li.navigation-item {
    display: flex;
    flex-direction: row;
}

.navigation-user {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 20px;

}

.navigation-main {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.navigation-link,
.product-link,
.breadcrumbs-link,
.product-card-link,
.pagination-link,
.button {
    color: #000000;
    text-decoration: none;
}

.section {
    font-family: "Rubik";
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.form input {
    font-family: inherit;
}

.delivery {
    background-color: #ebebeb;
    background-image: url("../images/delivery-man.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 136px 164px;
}

.delivery-notice {
    background-color: #ebebeb;
    background-image: url("../images/delivery.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 125px 100px;
    text-align: center;
}

.newsletter {
    background-color: #ebebeb;
}

.footer-address {
    font-family: 'Rubik';
    font-size: 16px;
    line-height: 20px;
    color: #444444
}

.services-list,
.subscribe-button {
    font-family: "Raleway";
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
}

.page-footer,
.footer-services li {
    color: #ffffff;
    background-color: #444444;
}

.contacts-phone {
    font-family: 'Rubik';
    color: #ffffff;
    ;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
}

.catalog-products {
    background-color: #f0f0f0;
}

.product-list {
    background-color: #ffffff;
}

.breadcrumbs,
.catalog-filter-item {
    font-family: 'Rubik';
    font-size: 16px;
    line-height: 19px;
}

.product-card-title {
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.button-more {
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.contacts-address {
    font-family: 'Rubik';
    font-size: 16px;
    line-height: 20px;
    color: #ffffff
}

.services-item-link {
    text-decoration: none;
    color: #f0f0f0;
}

.filter-title,
.sort-title {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.pagination-show-more {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.select-control {
    font-family: inherit;
}

.catalog-filter-title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.product-card-price {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
}